<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" href="/Favicon/favicon.ico" type="image/x-icon">
		<meta charset="UT-8">
		<meta name="viewport" content="width-device-width, initial-scale=1.0"/>
		<title>Blupi Child Corner</title>
        <link href="/css/admin.css" rel="stylesheet"/>
		<link href="/css/index.css" rel="stylesheet"/>
		<link href="/css/detail.css" rel="stylesheet"/>
		<script src="https://kit.fontawesome.com/dd1aed35c1.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href='https://css.gg/css' rel='stylesheet'>

	</head>
	<body>
		<script>
			var i = 0
		</script>
		<main>
			<div class="navcontainer">
				<span id="navstart">
					<a href="/"><img src="/images/logotokotrans.png" alt="cart"></a>
					<div class="search">
						<div class="icon"></div>
						<div class="input">
							<input type="text" placeholder="Cari Barang" id="mysearch">
						</div>
					</div>
					<script>
						const icon = document.querySelector('.icon');
						const search = document.querySelector('.search');
						icon.onclick = function(){
							search.classList.toggle('active')
						}
					</script>
				</span>
				<span id="navend">
					<% if (user != undefined ){ %>
						<% if (user.id == 9979) { %>
                    <div class="imgcontainer" style="background-image:account-img/<%=user.image%>;">
                    </div>
                    <a href="/account" name="username" style="background-color: transparent;"><p>Welcome, <b>ADMIN</b></p></a>
                    <a href="/order" style="background-color: transparent;">
                    <img src="/svg/assignment_white_24dp.svg" alt=""></a>
                    <a href="/create" style="background-color: transparent;">
                    <img src="/svg/note_add_white_24dp.svg" alt=""></a>
                    <a href="/logout" style="background-color: transparent;"><img src="
                        /svg/logout_white_24dp.svg" alt=""></a>
						<% } else { %>
						<a href="/account" name="username" style="background-color: transparent;">
							<div class="imgcontainer" style="background-image:account-img/<%=user.image%>;">
								<img class="top-user-img" src="/account-img/<%=user.image%>" alt="<%=user.image%>">
							</div>
						</a>
						<a href="/cart" style="background-color: transparent;">
							<img src="/svg/shopping_cart_white_24dp.svg" alt="">
						</a>
						<a href="/logout" style="background-color: transparent;">
						<img src="/svg/logout_white_24dp.svg" alt=""></a>
						<% } %>
						<% } else { %>
							<a href="/login" style="
							padding: 10px;
							border-radius: 20px;"><p>Login/Register</p></a>
							<% } %>
				</span>
			</div>
			<div style="height: 100vh; display: block;" class="contentflex">

				<div class="details-main-container">
					<span>
						<img src="/images/<%=model.gambar%>" alt="">
						<div class="details-child-container">
							<h2><%=model.nama_prod%></h2>
							<h4>Rp. <%=model.harga%>,00</h4>
							<br>
							<p><%=model.deskripsi%></p>
							<br>
							<p>Stok : <b><%=model.jumlah_stok%>	</b></p>
							<form action="/addcart" method="POST" enctype="multipart/form-data">
								<input type="hidden" name="id_p" value="<%=model.id_p%>">
								<input type="number" name="count" value="1" min="1" max="<%=model.jumlah_stok%>">
								<br>
								<br>
								<button type="submit">+</button>
							</form>
						</div>
					</span>
				</div>
			</div>
		</main>	
	</div>
	<footer>
		<div class="footercontainer">
		<h4>Follow us</h4>
		<div class="footerfelx"></div>
			<a href="#"><span class="circlef"><div class="gg-instagram"></div></span></a>
			<a href="#"><span class="circlef"><div class="gg-facebook"></div></span></a>
			<a href="#"><span class="circlef"><s><div class="gg-phone"></div></s></span></a>
		</div>
	</footer>	
	</body>
	<style>
		.flexcont{
			margin : 10px;
		}
		.subtotal h4{
			transition: 0.2s;
		}
		.subtotal .isi2:hover h4{
			color: yellow;	
		}
		.subtotal .isi2:hover h4{
			background-color: violet;
		}
        table th{
            font-weight: 500;
            color: rgb(182, 182, 182);
        }
        table td{
            font-weight: lighter;
        }
        table tr{
            margin-top: 10px;
        }
        button{
            cursor: pointer;
            transition: 0.3s;
            width: 40%;
            background-color: #ff94f4;
            padding: 10px;
            color: white;
            border-radius: 25px;
            border: none;
        }
        button:hover{
            background-color: #90a0f8;
        }
	</style>
</html>